.form {
	font-family: Arial, sans-serif;
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
	text-align: center;
	width: 100%;

	color: #f5f5dc;
}

.input {
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #5d685c;
	width: 95%;
	height: 20 px;
	border: 1px solid #007bff;
	border-radius: 5px;
}
.button {
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 6px;
	width: 15%px;
	border: 1px solid rgb(118, 161, 53);
	border-radius: 10px;
	background-color: rgb(166, 206, 106);
	color: #5d685c;
}
.button:hover {
	background-color: rgb(150, 184, 99);
}
.button:disabled {
	background-color: #dfdfca62;
}
.error {
	margin: 0px;
	margin-bottom: 8px;
	font-size: 12px;
	color: red;
}
