.form {
	font-family: Arial, sans-serif;
	padding: 8px;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: 590px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	color: #f5f5dc;
}

.input {
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #5d685c;
	width: 95%;
	height: 10 px;
	border: 1px solid #007bff;
	border-radius: 5px;
}

.button {
	margin: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 6px;
	width: 15%px;
	border: 1px solid rgb(118, 161, 53);
	border-radius: 10px;
	background-color: rgb(166, 206, 106);

	color: #5d685c;
}
.button:hover {
	background-color: rgb(150, 184, 99);
}

.button:disabled {
	background-color: #dfdfca62;
}

.pressedButton {
	margin: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 6px;
	width: 15%px;
	border: 2px solid rgb(118, 161, 53);
	border-radius: 10px;
	background-color: rgb(116, 175, 27);

	color: #5d685c;
}
.pressedButton:hover {
	background-color: rgb(166, 206, 106);
}