body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app {
	width: 600px;
}

h1 {
	color: #333;
	text-align: center;
}

table {
	width: 600px;
	max-width: 600px;
	border-collapse: collapse;
	background: white;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

thead {
	background-color: #007bff;
	color: white;
}

th,
td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	text-transform: uppercase;
}

td {
	color: #555;
}

.delBtn {
	background-color: rgb(224, 93, 93);
	border-style: none;
	border-radius: 5px;
}

.delBtn:hover {
	background-color: rgb(175, 52, 52);
}

.editBtn {
	background-color: rgb(118, 161, 53);
	border-style: none;
	border-radius: 5px;
}

.editBtn:hover {
	background-color: rgb(92, 139, 21);
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	border-bottom-color: transparent;
	animation: loader 1s infinite;
	animation-timing-function: linear;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
